/*==================================

Custom style for paprs. app
Author: Sam Hearn

==================================*/

body { color: #222; }

/*--- Fonts ---*/

@font-face {
    font-family: 'dejavu_sansextralight';
    src: url('fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('fonts/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caecilia_light';
    src: url('fonts/caecilia-light-webfont.eot');
    src: url('fonts/caecilia-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caecilia-light-webfont.woff2') format('woff2'),
         url('fonts/caecilia-light-webfont.woff') format('woff'),
         url('fonts/caecilia-light-webfont.ttf') format('truetype'),
         url('fonts/caecilia-light-webfont.svg#pmn_caecilia_45_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*--- Paper styling ---*/
table { margin: 0 auto; }
table,td,th {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 7px;
}

.heading h1{
    /*font-size: 2em;*/
    line-height: 1.5em;
    font-family: 'dejavusansextralight';
}
.heading h2{
    font-size: 1.05em;
    font-weight: normal;
    /*color: #555;*/
}
.heading h3{
    font-size: 1.05em;
    font-weight: normal;
}
.heading h2,h3 {
    line-height: 0.8em;
}
.heading .accent { font-weight: bold; }

hr { margin-bottom: 35px; color: lightgrey; }

/*.heading { margin-bottom: 35px; }*/
.col_10, .col_1 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col_1 { width: 4%; }
.col_10 { width: 78%;}
.question:before,
.question:after,
.line_row:after {
  display: table;
  content: " ";
}
.question:after,
.lines:after {
    clear: both;
}

/*--- Questions ---*/
/* 
    .question
     └── .col_1 | .col_10 | .col_1
                     └── .lines_row - .line
*/
.question { margin-bottom: 25px;}
.question ol {
    padding: 0 0 0 35px;
    margin: 5px 0 0 0;
    list-style-type: lower-latin;
}
.question ol li{ line-height: 1.1em; }
.question .text {
    margin-right: auto;
    margin-left: auto;
}
.text p{
    margin-top: 0px;
    margin-bottom: 1em;
}

/*--- Lines ---*/
.lines .row {
    border-bottom: 1px dotted black;
    height: 2em;
}

/*--- Total ---*/
.total { text-align: right; }

